<div class="container clearfix">
  <a class="header-logo-wordmark" href="/">
  <h2 style="color:#3a87ad">活动通 </h2>
  </a>
  <ul id="user-links">
    <% if current_user  %>
        <li style="color: black"><%= link_to "你好," +current_user.name %></li>
        <li><%= link_to "退出", logout_path, method: "delete", :style => "color: blue" %></li>
    <% end %>
  </ul>
</div>

