%header
  竞价列表
  .header-right
    %button.btn.btn-primary( ng-tap="bid_sign_up_page()"  ng-disabled="activity_situation"  ng-model="activity_situation")
      创建新竞价
  .header-left
    %button.btn.btn-primary( ng-tap="back_to_activity_list()")
      返回
#wrapper.wrapper-scrollable(style='position:relative;top:50px')
  %ul.list-style-2
    %li(ng-repeat="bid_list in bid_lists"   style="{{bid_list.status|status}} ; height:42px;" ng_tap="bid_sign_up_detail(bid_list.name,bid_list.activity_name)")
      {{bid_list.name}}

%footer
  %ul.footer-nav.footer-nav-2tabs
    %li
      %a( style="font-size:25px" ng-tap = "sign_up_page()")
        报名
    %li.active
      %a(style="font-size:25px" ng-disabled = "bid_list_state"  ng_model = "bid_list_state")
        竞价
























